*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-size: 66.8%;
}

.container{
    width: 100%;
    height: 115vh;
    background:url(images/real-bg-got.jpg);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.6rem 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#header .logo{
    color: rgb(216, 30, 30);
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    margin-left: 2rem;
    font-size: 1.4rem;
}

#header ul li a{
    padding: .7rem 1.7rem;
    color: ghostwhite;
    border-radius: .7rem;
}

#header ul li a:hover{
    background: linear-gradient(45deg,rgb(185, 50, 50),rgb(245,14,122));
    color: rgb(253, 252, 252);
}

section{
    position: relative;
    width: 100%;
    height:115vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content{
    position: absolute;
    left: 10rem;
    top: 29rem;
    font-size: 1.8rem;
}
section .content .detalist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section .content .detailst span{
    position: relative;
    left: 0;
    top: 10rem;
    color: ghostwhite;
    margin: 1.2rem 2rem;
    font-weight: 400;
}

.detalist span:last-child{
    border: .1rem solid rgb(182, 181, 181);
    border-radius: .2rem;
    padding: .3rem ;
    font-size: 1.7rem;
}

.button span{
    position: relative;
    top: 4rem;
    left: 0;
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}
.button .btn1:hover{
    cursor: pointer;
    opacity: .8;
}
.button .btn2:hover{
    cursor: pointer;
    color: rgb(216, 30, 30);
    font-weight: 600;
    background-color: #fff;
}


.button .btn1{
    background-color: rgb(216, 30, 30);
    padding: 1rem 2.6rem;
    border-radius: .2rem;
    transition: .5s;
}
.button .btn2{
    background-color: #ffffff2e;
    padding: 1rem 2.6rem;
    border-radius: .2rem;
    transition: all .5s;
    margin-left: 3rem;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22rem;
    background: linear-gradient(to top,#0c181c,transparent);
    overflow: hidden;
}

.sec{
    position: relative;
    top: 0;
    height:50rem;
    padding-left: 110px;
    background-color: #02161c;
}

.sec span{
    position: relative;
    margin-bottom: 1rem;
    color: #fff;
    margin: 7px;
}

.sec .title{
    font-size: 2rem;
    font-weight: 600;
}

.sec .btn3{
   font-size: 1.2rem;
   text-decoration: underline;
   cursor: pointer;
}

.info{
    position: absolute;
    top: -9.3rem;
    left: 9rem;
    z-index: 1;
}

.sec .row{
    position: absolute;
    top:-8rem;
    left: 10rem;
    height:15rem;
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec .row .col{
    width:23rem;
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.sec .row .col:first-child{
    margin: 0;
    margin-left:-2rem;
    margin-top: 2rem;
}

.sec .row .col img{
    transition: all .5s;
    width: 330px;
    height: 190px;
    border-radius: .7rem;
}


.sec .row .col img:hover{
    transform: scale(1.07);
    cursor: pointer;
}


.sec .row2{
    position: absolute;
    top: 10.5rem;
    left: 9rem;
    height: 200px;
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
}

.sec .row2 .col1{
    width: 810px;
    margin-right: 70px;
}

.sec .row2 .col2{
    overflow: hidden;
    height: 135%;
}

.sec .row2 .col p{
    color: #a9a9a9;
    line-height: 2.8rem;
}

.sec .row2 .col h2{
    color: #fff;
    margin-bottom: .5rem;
    font-size: 2rem;
}

.sec .row2 .col2 p{
    text-decoration: underline;
    cursor: pointer;

}
.sec .row2 .col2 p:hover{
    color: #fff;
}


.sec .row2 .col p{
    font-size: 1.5rem;
}


.sec .row3{
    position: absolute;
    top: 33rem;
    width: 82%;
    display: flex;
    margin-top: 5rem;
    gap: 8rem;
}

.sec .row3 h2{
    color: #fff;
    font-size: 1.7rem;
}

.row3 .col{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-right: 2rem;
    position: relative;
}

.row3 .c1{
    width:10rem;
    margin-right: 0;
    line-height: 20px;
}

.sec .row3 .col:last-child{
    margin: 0;
}

.row3 .c1 h5{
    color: ghostwhite;
}

.row3 .c1 h6{
    color: rgb(152, 152, 153);
}

.row3 .col img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.cast{
    position: absolute;
    top:-6rem;
    left:5rem ;
}

.rb{
    font-size: 1.5rem;
    text-align: center;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
}