*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-size: 66.8%;
}

.container{
    background-color: rebeccapurple;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 120vh;
}

header{
    position: absolute;
    top: 0;
    background-color: red;
    left: 0;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}